@model core_classe.Models.Nota

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Observacions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.alumne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.alumne.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
